.button {
    padding: 10px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    border-radius: 99px;
}

.button-style{
    color: #fff;
    border: 3px solid #3c63e6;
    background-image: -webkit-linear-gradient(30deg, #3c63e6 50%, transparent 50%);
    background-image: linear-gradient(30deg, #18338d 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.button-style:hover {
    background-position: 100%;
    color: #3c63e6;
}